In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
MET_forecast = pd.read_parquet("WindAi/met_forecast .parquet")
MET_nowcast = pd.read_parquet("WindAi/met_nowcast.parquet")
Power_data = pd.read_parquet("WindAi/wind_power_per_bidzone.parquet")
Meta_data = pd.read_csv("WindAi/windparks_bidzone.csv")

MET_forecast

In [3]:
MET_forecast.head(10)

,sid,time_ref,time,lt,ws10m_00,ws10m_01,ws10m_02,ws10m_03,ws10m_04,ws10m_05,...,g10m_05,g10m_06,g10m_07,g10m_08,g10m_09,g10m_10,g10m_11,g10m_12,g10m_13,g10m_14
0,Engerfjellet,2020-02-15 12:00:00,2020-02-15 12:00:00,0,2.096957,2.110652,2.304629,1.942044,1.447011,2.288181,...,6.918935,8.110546,5.988888,6.934274,5.235212,5.507061,7.193576,6.753938,4.841811,4.875890
1,Engerfjellet,2020-02-15 12:00:00,2020-02-15 13:00:00,1,3.449402,3.436193,3.205872,3.450461,3.143307,4.278822,...,9.914339,9.184751,6.999992,7.892150,7.214608,8.252510,9.535547,8.717684,8.152432,6.240438
2,Engerfjellet,2020-02-15 12:00:00,2020-02-15 14:00:00,2,3.348926,2.903557,2.779971,3.733802,3.148597,2.912592,...,10.031385,8.624619,7.984353,8.264300,7.205638,9.052546,9.531441,8.367238,7.840395,7.153080
3,Engerfjellet,2020-02-15 12:00:00,2020-02-15 15:00:00,3,3.095971,2.560161,2.448126,2.267286,3.050008,3.310141,...,8.185250,8.821701,7.481009,8.172009,6.255360,7.345034,8.303812,6.735660,7.600200,7.189164
4,Engerfjellet,2020-02-15 12:00:00,2020-02-15 16:00:00,4,2.821545,2.965743,3.235484,3.212730,3.064931,2.420390,...,7.551644,9.709259,8.365305,8.703517,6.151643,10.116440,7.346225,9.079601,9.048587,6.937930
5,Engerfjellet,2020-02-15 12:00:00,2020-02-15 17:00:00,5,4.114142,4.149489,4.104244,4.065797,3.809343,4.873203,...,11.284538,11.855978,10.304411,8.964025,10.934429,9.909761,10.543562,11.292990,9.993366,9.912436
6,Engerfjellet,2020-02-15 12:00:00,2020-02-15 18:00:00,6,3.790050,4.212730,3.893336,3.688228,3.410740,4.357417,...,12.087903,11.290222,11.371481,11.530222,10.965325,10.074904,11.977937,12.407160,10.931780,8.637980
7,Engerfjellet,2020-02-15 12:00:00,2020-02-15 19:00:00,7,4.555474,4.861906,4.477373,4.838147,4.630666,5.141986,...,11.962282,8.603417,10.982051,10.322260,10.980448,10.255278,10.475489,13.478138,12.976927,10.668635
8,Engerfjellet,2020-02-15 12:00:00,2020-02-15 20:00:00,8,5.318298,5.352931,5.288188,5.707170,5.265142,4.461141,...,11.994844,11.564442,10.937082,9.949709,12.778905,12.538944,10.529068,14.675722,13.621004,12.271126
9,Engerfjellet,2020-02-15 12:00:00,2020-02-15 21:00:00,9,6.120933,4.955779,6.084680,5.510438,6.465667,5.140792,...,11.768835,13.877907,12.147903,13.473896,13.534370,15.050922,9.488266,14.407709,13.812285,13.898600

In [4]:
times_forecast = set(MET_forecast["time"].unique())

In [5]:
MET_forecast.loc[MET_forecast.sid == "Engerfjellet"]

,sid,time_ref,time,lt,ws10m_00,ws10m_01,ws10m_02,ws10m_03,ws10m_04,ws10m_05,...,g10m_05,g10m_06,g10m_07,g10m_08,g10m_09,g10m_10,g10m_11,g10m_12,g10m_13,g10m_14
0,Engerfjellet,2020-02-15 12:00:00,2020-02-15 12:00:00,0,2.096957,2.110652,2.304629,1.942044,1.447011,2.288181,...,6.918935,8.110546,5.988888,6.934274,5.235212,5.507061,7.193576,6.753938,4.841811,4.875890
1,Engerfjellet,2020-02-15 12:00:00,2020-02-15 13:00:00,1,3.449402,3.436193,3.205872,3.450461,3.143307,4.278822,...,9.914339,9.184751,6.999992,7.892150,7.214608,8.252510,9.535547,8.717684,8.152432,6.240438
2,Engerfjellet,2020-02-15 12:00:00,2020-02-15 14:00:00,2,3.348926,2.903557,2.779971,3.733802,3.148597,2.912592,...,10.031385,8.624619,7.984353,8.264300,7.205638,9.052546,9.531441,8.367238,7.840395,7.153080
3,Engerfjellet,2020-02-15 12:00:00,2020-02-15 15:00:00,3,3.095971,2.560161,2.448126,2.267286,3.050008,3.310141,...,8.185250,8.821701,7.481009,8.172009,6.255360,7.345034,8.303812,6.735660,7.600200,7.189164
4,Engerfjellet,2020-02-15 12:00:00,2020-02-15 16:00:00,4,2.821545,2.965743,3.235484,3.212730,3.064931,2.420390,...,7.551644,9.709259,8.365305,8.703517,6.151643,10.116440,7.346225,9.079601,9.048587,6.937930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6843247,Engerfjellet,2025-03-15 09:00:00,2025-03-18 01:00:00,64,1.870437,1.991036,1.880030,1.813593,1.793273,1.588727,...,3.618247,3.320517,5.362241,3.041444,4.682149,5.424404,4.307010,4.611930,3.868150,4.162702
6843248,Engerfjellet,2025-03-16 09:00:00,2025-03-19 01:00:00,64,2.275855,2.860867,2.018139,2.057896,2.595255,1.510240,...,2.839792,5.153427,3.119817,3.762338,4.647959,6.416572,6.204995,5.414379,4.912172,5.629236
6843249,Engerfjellet,2025-03-22 09:00:00,2025-03-25 01:00:00,64,4.909470,4.803818,3.006616,2.765076,2.745594,4.684695,...,11.868443,7.671216,10.557579,6.523178,5.639194,5.124884,10.532558,11.869712,12.506206,4.182204
6843250,Engerfjellet,2025-03-23 09:00:00,2025-03-26 01:00:00,64,2.586512,2.373797,1.807442,2.726569,2.223259,1.929300,...,5.217217,7.462763,5.698962,6.579884,7.092272,8.712784,4.886078,4.471086,6.825629,6.783224
6843251,Engerfjellet,2025-03-24 09:00:00,2025-03-27 01:00:00,64,1.823800,3.603564,1.832738,2.342508,1.625101,2.786023,...,6.613031,6.747796,7.875403,2.462884,4.175836,5.860418,4.258565,4.213555,3.116258,7.757758

In [6]:
len(MET_forecast["time"].unique())

44555

MET_nowcast

In [7]:
MET_nowcast.head(10)

,air_temperature_2m,air_pressure_at_sea_level,relative_humidity_2m,precipitation_amount,wind_speed_10m,wind_direction_10m,windpark
time,,,,,,,
2020-01-01 00:00:00,276.363831,100703.859375,0.966131,3.147963,13.445930,250.681976,Bessakerfjellet
2020-01-01 01:00:00,276.951080,100595.609375,0.972677,3.636308,13.807796,251.660736,Bessakerfjellet
2020-01-01 02:00:00,277.113007,100526.656250,0.964682,1.921109,15.788631,250.626617,Bessakerfjellet
2020-01-01 03:00:00,277.259033,100408.359375,0.966498,1.919362,16.493980,254.728180,Bessakerfjellet
2020-01-01 04:00:00,277.229248,100421.062500,0.964835,1.275917,16.933884,253.571869,Bessakerfjellet
2020-01-01 05:00:00,277.192139,100427.195312,0.964012,0.932326,15.985903,252.268341,Bessakerfjellet
2020-01-01 06:00:00,277.338379,100457.250000,0.964927,0.877287,15.728171,249.293091,Bessakerfjellet
2020-01-01 07:00:00,277.468933,100486.578125,0.948538,0.168433,15.594400,244.534882,Bessakerfjellet
2020-01-01 08:00:00,277.481262,100529.734375,0.953635,0.165474,14.662462,246.045517,Bessakerfjellet
2020-01-01 09:00:00,277.737762,100510.437500,0.979957,0.117687,14.530125,247.069168,Bessakerfjellet

In [8]:
times_nowcast = set(MET_nowcast.index.unique())

Power_data

In [9]:
Power_data.head(10)

                     ELSPOT NO1  ELSPOT NO2  ELSPOT NO3  ELSPOT NO4
2020-01-01 00:00:00  149.285262  434.753864  497.143482  152.830002
2020-01-01 01:00:00  152.634024  395.572485  471.916899  144.440344
2020-01-01 02:00:00  151.163256  355.408523  399.325698  143.960894
2020-01-01 03:00:00  150.223341  375.316902  367.662849  134.310523
2020-01-01 04:00:00  157.415142  412.949107  399.627337   88.573315
2020-01-01 05:00:00  151.640429  409.595038  446.307181   72.441640
2020-01-01 06:00:00  144.248918  398.444034  483.106530   61.640700
2020-01-01 07:00:00  131.882442  413.906336  508.145019   60.053104
2020-01-01 08:00:00  147.393227  384.363898  516.745855   59.939813
2020-01-01 09:00:00  146.475636  379.636768  550.368464   56.989839

In [8]:
Power_data.shape

(46011, 4)

In [10]:
Power_data_long = Power_data.reset_index().melt(
    id_vars="index", 
    var_name="bidding_area", 
    value_name="power_MW"
).rename(columns={"index": "time"})

In [11]:
Power_data_long.head(10)

                 time bidding_area    power_MW
0 2020-01-01 00:00:00   ELSPOT NO1  149.285262
1 2020-01-01 01:00:00   ELSPOT NO1  152.634024
2 2020-01-01 02:00:00   ELSPOT NO1  151.163256
3 2020-01-01 03:00:00   ELSPOT NO1  150.223341
4 2020-01-01 04:00:00   ELSPOT NO1  157.415142
5 2020-01-01 05:00:00   ELSPOT NO1  151.640429
6 2020-01-01 06:00:00   ELSPOT NO1  144.248918
7 2020-01-01 07:00:00   ELSPOT NO1  131.882442
8 2020-01-01 08:00:00   ELSPOT NO1  147.393227
9 2020-01-01 09:00:00   ELSPOT NO1  146.475636

In [12]:
times_power = set(Power_data_long["time"].unique())
difference_forecast = times_forecast - times_power
print(f"Hours in forecast not in power: {len(difference_forecast)}")

difference_power = times_power - times_forecast
print(f"Hours in power not in forecast: {len(difference_power)}")

difference_now = times_nowcast - times_forecast
print(f"Hours in nowcast not in forecast: {len(difference_now)}")

Hours in forecast not in power: 18
Hours in power not in forecast: 1474
Hours in nowcast not in forecast: 46007

In [13]:
Power_data_long.shape

(184044, 3)

In [14]:
Power_data_long.loc[Power_data_long.bidding_area == "ELSPOT NO1"]

                     time bidding_area    power_MW
0     2020-01-01 00:00:00   ELSPOT NO1  149.285262
1     2020-01-01 01:00:00   ELSPOT NO1  152.634024
2     2020-01-01 02:00:00   ELSPOT NO1  151.163256
3     2020-01-01 03:00:00   ELSPOT NO1  150.223341
4     2020-01-01 04:00:00   ELSPOT NO1  157.415142
...                   ...          ...         ...
46006 2025-04-03 04:00:00   ELSPOT NO1  201.955371
46007 2025-04-03 05:00:00   ELSPOT NO1  192.814220
46008 2025-04-03 06:00:00   ELSPOT NO1  167.243268
46009 2025-04-03 07:00:00   ELSPOT NO1  149.052714
46010 2025-04-03 08:00:00   ELSPOT NO1   74.623448

[46011 rows x 3 columns]

In [15]:
Power_data_long["bidding_area"].value_counts()

ELSPOT NO2    46011
ELSPOT NO3    46011
ELSPOT NO4    46011
ELSPOT NO1    46011
Name: bidding_area, dtype: int64

In [16]:
Power_data_long.groupby("bidding_area")["time"].agg(["min", "max", "count"])

                    min                 max  count
bidding_area
ELSPOT NO1   2020-01-01 2025-04-03 08:00:00  46011
ELSPOT NO2   2020-01-01 2025-04-03 08:00:00  46011
ELSPOT NO3   2020-01-01 2025-04-03 08:00:00  46011
ELSPOT NO4   2020-01-01 2025-04-03 08:00:00  46011

In [17]:
times = Power_data_long["time"].drop_duplicates()
times.shape

(46011,)

Meta_data

In [18]:
Meta_data.head(10)

,bidding_area,substation_name,operating_power_max,prod_start_new,eic_code
0,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R
1,ELSPOT NO1,Hån Vindpark,21.0,2022-10-26 22:00:00,50WP000000022251
2,ELSPOT NO1,Kjølberget,55.9,2020-07-07 09:00:00,50WP00000002085S
3,ELSPOT NO1,Marker Vindpark,54.0,2020-01-01 00:00:00,50WP00000002048Y
4,ELSPOT NO1,Raskiftet,111.6,2020-01-01 00:00:00,50WP00000001718K
5,ELSPOT NO1,Songkjølen,110.4,2021-08-24 10:00:00,50WP00000002159P
6,ELSPOT NO2,Bjerk_VK Vindpark,301.0,2020-01-01 00:00:00,50WP000000017693
7,ELSPOT NO2,Bjerk_VK Vindpark,301.0,2020-01-01 00:00:00,50WP00000001721V
8,ELSPOT NO2,Buheii Vindpark,80.4,2021-06-09 08:00:00,50WP00000002147W
9,ELSPOT NO2,Egersund Vindkrv,112.2,2020-01-01 00:00:00,50WP00000001716O

In [19]:
Meta_data.groupby("bidding_area")["substation_name"].apply(list).reset_index()

  bidding_area                                    substation_name
0   ELSPOT NO1  [Engerfjellet, Hån Vindpark, Kjølberget, Marke...
1   ELSPOT NO2  [Bjerk_VK Vindpark, Bjerk_VK Vindpark, Buheii ...
2   ELSPOT NO3  [Bessakerfjellet, Einarsdalen, Frøya Vindpark,...
3   ELSPOT NO4  [Dønnesfjord Vind, Fakken, Hamnefjell, Havøyga...

In [20]:
Meta_data["bidding_area"].value_counts()

ELSPOT NO3    28
ELSPOT NO2    27
ELSPOT NO4    15
ELSPOT NO1     6
Name: bidding_area, dtype: int64

In [21]:
Meta_data.shape

(76, 5)

Meta_with_power

In [30]:
bidding_times = Power_data_long[["time", "bidding_area", "power_MW"]]

meta_with_power = Meta_data.merge(bidding_times, on="bidding_area", how="left")

In [31]:
meta_with_power.head(10)

,bidding_area,substation_name,operating_power_max,prod_start_new,eic_code,time,power_MW
0,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 00:00:00,149.285262
1,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 01:00:00,152.634024
2,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 02:00:00,151.163256
3,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 03:00:00,150.223341
4,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 04:00:00,157.415142
5,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 05:00:00,151.640429
6,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 06:00:00,144.248918
7,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 07:00:00,131.882442
8,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 08:00:00,147.393227
9,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 09:00:00,146.475636

In [25]:
meta_with_power.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
operating_power_max,3496836.0,78.489474,75.501338,0.4,12.600000,53.40000,124.700000,301.000000
power_MW,3496737.0,447.166095,404.516611,0.0,122.330702,320.99224,674.260631,1921.052333

In [26]:
meta_with_power.shape

(3496836, 7)

Meta_with_power_forecast

In [27]:
meta_with_power_forecast = meta_with_power.merge(
    MET_forecast,
    left_on=["substation_name", "time"],
    right_on=["sid", "time"],
    how="left"
)

In [28]:
meta_with_power_forecast = meta_with_power_forecast.drop(columns=["sid"])
meta_with_power_forecast.head(10)

,bidding_area,substation_name,operating_power_max,prod_start_new,eic_code,time,power_MW,time_ref,lt,ws10m_00,...,g10m_05,g10m_06,g10m_07,g10m_08,g10m_09,g10m_10,g10m_11,g10m_12,g10m_13,g10m_14
0,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 00:00:00,149.285262,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 01:00:00,152.634024,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 02:00:00,151.163256,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 03:00:00,150.223341,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 04:00:00,157.415142,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 05:00:00,151.640429,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 06:00:00,144.248918,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 07:00:00,131.882442,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 08:00:00,147.393227,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 09:00:00,146.475636,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
meta_with_power_forecast.shape

(8264466, 99)

meta_with_power_forecast_now

In [30]:
meta_with_power_forecast_now = meta_with_power_forecast.merge(
    MET_nowcast,
    left_on=["substation_name", "time"],
    right_on=["windpark", "time"],
    how="left"
)

In [31]:
meta_with_power_forecast_now = meta_with_power_forecast_now.drop(columns=["windpark"])
meta_with_power_forecast_now.head(10)

,bidding_area,substation_name,operating_power_max,prod_start_new,eic_code,time,power_MW,time_ref,lt,ws10m_00,...,g10m_11,g10m_12,g10m_13,g10m_14,air_temperature_2m,air_pressure_at_sea_level,relative_humidity_2m,precipitation_amount,wind_speed_10m,wind_direction_10m
0,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 00:00:00,149.285262,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,272.746002,101827.179688,0.758963,0.0,4.838222,231.484100
1,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 01:00:00,152.634024,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,273.096619,101753.257812,0.762228,0.0,5.793958,237.567535
2,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 02:00:00,151.163256,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,273.151764,101677.960938,0.788687,0.0,6.356239,238.373611
3,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 03:00:00,150.223341,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,273.028198,101604.531250,0.814078,0.0,6.252142,233.893646
4,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 04:00:00,157.415142,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,272.999054,101545.265625,0.816672,0.0,5.892299,236.793747
5,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 05:00:00,151.640429,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,272.938049,101471.984375,0.817863,0.0,5.995468,234.109894
6,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 06:00:00,144.248918,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,272.802094,101439.570312,0.818458,0.0,5.828374,233.107239
7,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 07:00:00,131.882442,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,272.884674,101417.515625,0.817176,0.0,5.666535,229.329636
8,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 08:00:00,147.393227,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,272.951935,101451.078125,0.820625,0.0,5.223082,226.203339
9,ELSPOT NO1,Engerfjellet,52.8,2022-09-19 13:00:00,50WP00000002158R,2020-01-01 09:00:00,146.475636,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,273.205322,101523.398438,0.784263,0.0,5.845285,230.081055

In [32]:
print(f"Time range: {MET_forecast['time'].min()} to {MET_forecast['time'].max()}")
print(f"Time range: {MET_nowcast.index.min()} to {MET_nowcast.index.max()}")
print(f"Time range: {Power_data_long['time'].min()} to {Power_data_long['time'].max()}")

Time range: 2020-02-15 12:00:00 to 2025-03-27 01:00:00
Time range: 2020-01-01 00:00:00 to 2025-03-31 23:00:00
Time range: 2020-01-01 00:00:00 to 2025-04-03 08:00:00

In [33]:
meta_with_power_forecast_now.isna().sum()

bidding_area                      0
substation_name                   0
operating_power_max               0
prod_start_new                    0
eic_code                          0
                              ...
air_pressure_at_sea_level    508386
relative_humidity_2m         508386
precipitation_amount         508386
wind_speed_10m               508386
wind_direction_10m           508386
Length: 105, dtype: int64

In [ ]:
meta_with_power_forecast_now.sum()

In [31]:
meta_with_power_forecast_now.shape

(8264466, 105)

In [32]:
meta_with_power_forecast_now.to_parquet("WindAi/model_dataset_raw.parquet", index=False)

In [33]:
baris = pd.read_parquet("model_dataset.parquet")
baris.head(10)

,zone,valid_time,ws_mean,ws_spread,ws_now,t2m_now,p_slp_now,rh_now,tp_now,power
0,ELSPOT NO1,2020-02-17 12:00:00+00:00,8.185420,0.722786,8.038021,275.437264,97791.388541,0.857981,0.006335,133.619331
1,ELSPOT NO1,2020-02-17 13:00:00+00:00,8.389066,0.627843,8.289558,275.881535,97764.267377,0.849889,0.000290,144.005562
2,ELSPOT NO1,2020-02-17 14:00:00+00:00,8.331227,0.823593,8.846123,275.954933,97734.718789,0.843837,0.001327,144.319527
3,ELSPOT NO1,2020-02-17 15:00:00+00:00,8.148322,1.030787,9.047679,276.378899,97653.996842,0.811815,0.000142,141.552255
4,ELSPOT NO1,2020-02-17 16:00:00+00:00,7.768180,1.065021,8.844782,276.241274,97721.432204,0.806659,0.000325,136.630084
5,ELSPOT NO1,2020-02-17 17:00:00+00:00,7.453814,1.266565,9.152249,275.854602,97810.118206,0.820583,0.000271,137.802143
6,ELSPOT NO1,2020-02-17 18:00:00+00:00,7.175088,1.348435,8.329453,275.663398,97952.878717,0.808414,0.000483,139.890214
7,ELSPOT NO1,2020-02-17 19:00:00+00:00,6.940632,1.240503,7.006623,275.528614,98114.746817,0.800328,0.000006,142.819889
8,ELSPOT NO1,2020-02-17 20:00:00+00:00,6.642488,1.124397,6.234801,275.095481,98249.487144,0.819560,0.000436,144.382081
9,ELSPOT NO1,2020-02-17 21:00:00+00:00,6.501365,1.110936,5.181411,274.768231,98352.424082,0.803022,0.000000,146.505565

In [34]:
baris.shape

(106330, 10)